
body {
	background-image: url("images/iphoneOL.jpg");
	background-repeat: no-repeat;
	font-family: Calibri, sans-serif;
}

#screen {
	height: 530px;
	width: 300px;
	margin: 105px 23px;
}

.head-bar {
	height: 45px;
  	width: 300px;
  	background: #c2c2d6;
  	color: #FFF;
  	margin-top: 0px;
  	line-height: 45px;
}

.head-text {
	display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    font-weight: bold;
}

#login-info {
	width: 100%;
	margin-top: 80px;
	margin-left: 25px;
}

label {
	width: 100px;
	float: left;
	margin-bottom: 20px;
}

.input {
	width: 150px;
	margin-bottom: 20px;
}

.login-button {
	width: 116px;
	height: 68px;
	border: 2px solid #FFF;
	color: #000;
	text-decoration: none;
	background: #C0C0C0;
	margin-top: 20px;
	margin-left: 20;
	text-align: center;
	line-height: 68px;
	float: left;
}

.login-button:hover {
	background: #A0A0A0;
}

.login-button:active {
	background: #909090;
}

.welcome {
	width: 100%;
	text-align: center;
}

.cover{
	height: auto;
	width: 100%;
	margin: auto;
}

#bill-info {
	height: 150px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

#piechart{
	width: 430px;
	height: 300px;
	display: block;
	position: relative;
	margin-left: -60px;
	top: 5px;
}

.back-arrow {
	height: auto;
	position: relative;
	float: left;
	margin-top: 9.5px;
	margin-left: 10.5px;
	margin-right: 0px;
	border: 1px solid #FFF;
	color: #FFF;
}

.detail-head-text {
	display: block;
    font-size: 2em;
    float: right;
    width: 40%;
    margin-right: 30%;
    text-align: center;
    font-weight: bold;
}

.icon {
	height: 30px;
	margin-top: 7.5px;
	margin-left: 20px;
	margin-right: 0px;
	filter: invert(100%);
}

#graph-holder {
	width: 100%;
}

.graphs {
	width: 80%;
	height: 200px;
	display: none;
	margin-left: 10%;
}

.prev {
	cursor: pointer;
	position: relative;
	top: -144px;
	width: auto;
	margin-top: 0px;
	padding: 12px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	float: left;
}

.next {
	cursor: pointer;
	position: relative;
	top: -144px;
	width: auto;
	margin-top: 0px;
	padding: 12px;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	float: right;
}

.prev:hover, .next:hover {
	background-color: #F0F0F0;
}

#dot-holder {
	text-align: center;
	width: 100%;
	float: left;
	margin-top: -48px;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #BBB;
	border-radius: 50%;
	display: inline-block;
}

.active, .dot:hover {
	background-color: #717171;
}

.tips-header {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: -20px;
	border-top: 2px solid;
}

.tips-list {
	float: left;
	width: auto;
	height: 204px;
	margin-top: -10px;
	border: 1px solid #808080;
	overflow: auto;
}



/*
.menu-button {
	position: relative;
	float: middle;
	left: 7px;
	top: -60px;
	width: 45px;
	height: 25px;
	border-style: solid;
	border-color: white;
	background: #c2c2d6;
}

#title-bar {
	width: 100%;
	border-bottom: 2px solid;
	text-align: left;
	font-size: 20px;
	line-height: 40px;
}*/